# Qdrant database storage
qdrant_storage/
qdrant_storage/backup
old/

README_old.md
requirements_working.txt
zip.py

# stop tracking generated artifacts in index
outputs/index/*.npy
outputs/index/*.json
outputs/index/*.jsonl

# exclude this script
scripts/download_images_robust.py



# Images (test data)
images/
output_screenshots/
outputs/
images_old_2500/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
myenv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.zip

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Logs
*.log